@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap')

$notebook: 'Source Code Pro', monospace
$blue: #7DBAF1
$yellow: #EFF5A3
$charcoal: #2D3142
$rose: #E84855
$green: #41521F

.selected
  background-color: $rose
  font-weight: bold

html
  background-color: $charcoal
  color: $blue

  body
    font-family: $notebook
    text-align: center
    max-width: 900px
    margin: auto

nav
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 20px 0 0

  #logo-cont
    position: relative
  
    img#huell
      width: 100px
      transform: rotate(20deg)
      animation-name: huell-rotate
      animation-duration: 3s

    img#glasses
      width: 100px
      transform: rotate(15deg)
      position: absolute
      top: 54px
      right: 40px
      animation-name: glasses-drop
      animation-duration: 3s


  ul
    display: flex
    width: 100%
    justify-content: center
    align-items: center
    padding: 0
    li
      list-style-type: none
      border: 1px solid $yellow
      width: 150px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
    a
      text-decoration: none
      color: $blue

div#shuffle-page
  div.button-cont
    margin: 20px 0
  form
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    div
      width: 260px
      display: flex

// Key Frames
@keyframes huell-rotate
  0%
    transform: rotate(20deg)
  100%
    transform: rotate(380deg)

@keyframes glasses-drop
  0%
    top: -70px
  30%
    top: -70px
  100%
    top: 54px